* {

    box-sizing: border-box;
}




header {
    background-color: #444444;
    
    }
    
     img{
        display: inline-block;
        margin: 31px;
        border: 5px solid white;
        color: black; 
    }
    
    
    header nav {
    
    display: inline-block;
     
    }
    nav ul{
    
     display:inline-block;

    
    } 
    
    header nav ul li {
        background-color: black;
        color: white;
    text-align: center;
        display: inline-block;
        border: 5px solid white;
        padding-right: 50px;
        padding-left: 50px;
        margin: 40px;
        padding: 10px;
        width: 200px;
        height: 79px;
    }
    
    
    
    section {
    
        clear: both;
    }
    
    
    
    section:first-of-type{
    
    margin-left: 25%;
    
    }
    
    section:nth-child(3){
    



    }
    
    
    section:nth-child(3){
 
        display: inline-block;
text-align: center;
width: 100%;
        
        }
    
        section:nth-child(4){
    
            margin-left: 482px;
            display: inline-block;
            width: 480px%;
            
            }
        
    
    
            article{
                display: inline-block;
                margin-bottom: 10%;
                float: right;
                margin-right: 563px;
                margin-top: 40px;
                height: 500px;
                width: 500px;

    
                        }
    
            p{
                width: 500px;
                height: 350px;
    overflow: auto;
            }
    
    
    h3{
        font: bold;
        font-size: 30px;
    }
    
    footer{
    clear: both;
        background-color: #444444;
    padding-top: 50px;
    
    
   }
    button{
    display: flex;
        background-color: black;
        color: white;
    }


    body{

        margin: 0%;
    }


    ul {

        margin-left: 55px;
    }


nav img {
float: left;
    margin-left: 249px;
margin-top: 55px;


 }

