* {

    box-sizing: border-box;
}




header {
    background-color: #444444;
    
    }
    
     img{
      
margin-top: 20px;

    }
    
    
    header nav {
    
    display: inline-block;
     
    }
    nav ul{
    
     display:inline-block;
     margin-top: 80px;
margin-right: 20px;
    
    } 
    
    header nav ul li {
        color: gray;
    text-align: center;
        display: inline-block;
        width: 189px;
        height: 79px;

    }
    
    
    
    section {
    
        clear: both;
    }
    
    
    
    section:first-of-type{
    
    margin-left: 25%;
    
    }
    
    section:nth-child(3){
    



    }
    
    
    section:nth-child(3){
 
        display: inline-block;
text-align: center;
width: 100%;

margin-left: 17px;
}
    
        section:nth-child(4){
    
            margin-left: 470px;
            display: inline-block;
            width: 480px%;
            
            }
        
    
    
            article{
                display: inline-block;
                margin-bottom: 5%;          
                      margin-right: 166px;
                margin-top: 0px;
                height: 500px;
                width: 500px;

    
                        }
    
            p{
                width: 470px;
                height: 392px;
    overflow: auto;
            }
    
    
    h3{
        font: bold;
        font-size: 30px;
    }
    
    footer{
    clear: both;
        background-color: #444444;
    padding-top: 50px;
    
    
   }
    button{
    display: flex;
        background-color: black;
        color: white;
    }


    body{

        margin: 0%;
    }


    

nav img {
float: left;
    margin-left: 475px;
margin-top: 55px;


 }

.imgs{

    padding-right: 29px;
}

#limg{

    margin-right: 20px;
}